 #formulario {
    position: absolute;
    left: 46%;
    top:30%;
    margin-left: -300px;
    margin-top: -120px;
    margin-bottom: 150px;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #000;

}
#botao {
    text-align:center;
    margin: 2px;
    padding: 2px;
    float:right;
}
h1{
    padding-top: 3x;
    color: #000;
}
h3
{
    color: #000;
}
body
{
    background-color: #D3D3D3;
}
#forte {
    border: 0.1em solid #000;
    color: #000;
    border-radius: 20px;
    background-color: #000;
    margin: 15px 0;

}
.radio
      {
        margin-left: 15px;
      }